*.wpu
**/__pycache__/**
**/media/*
**/*.log
**/*.log.*
**/nbproject
**/.~lock.*
**/.buildpath
**/.DS_Store
**/.idea
**/.project
**/*.env
*.coverage
.venv/*
coverage.xml
.sonar-scanner/*
unit.xml
Pipfile